html {
  box-sizing: border-box;
  background: rgb(224, 224, 224);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  scroll-margin-top: 100px;
  padding: 40px;
  margin: 25px auto;
  background: rgb(242, 242, 242);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  /* max-width: 700px; */
  max-width: 75%;
  margin: auto;
  /* background: white; */
  /* padding: 40px; */
  text-align: justify;
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); */
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height: 50vh;
  background: url(https://source.unsplash.com/GKN6rpDr0EI/960x640) bottom center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

header h1 {
  color: white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);

}

header h2 {
  color: white;
  font-size: 2vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}
h2 {
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

nav {
  background: rgb(14, 14, 14);
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-family: 'Playfair Display', serif;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: black;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}

.highlight  {
  color: red;
  line-height: 0;
}

.project-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.teal-link {
  color: rgb(40, 125, 125);
  position: relative;
  /* text-decoration: none; */
}

.teal-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: rgb(40, 125, 125);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.teal-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.site-footer {
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 2px;
}

footer p {
  color: white;
  position: relative;
  bottom: 0;
  font-size: .65rem;
  text-align: right;
  padding-right: 3%;
}

